.app {
  color: #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(252,252,252);
}

.app-container {
  height: 100%;
  width: 100%;
  padding: 1em
}

.navbar-logo {
  height: auto;
  width: 75px;
}

.border-task {
  margin-top: 1rem;
  padding: 0.5em;
  border: 2px solid rgb(0, 0, 0);
}

.nav-color {
  background-color: #f5f0f0;
}